# Ailie Kwak

## Research question/interests

**Which factors of the healthy mind dimension are strongly related to low-stress levels?**

Stress level is affected by many different factors, I assume that factors related to a healthy mind would impact stress level the most. Also, people who are having a healthy mind, a good emotional, psychological, and social well-being, would have a low-stress levels. Among the different factors in the healthy mind dimension, I am wondering which factors would contribute the most to the low-stress level. 

### Analysis Plan

1. I will subset the factors (FLOW, DAILY_SHOUTING, WEEKLY MEDITATION, and DAILY_STRESS) that I am interested in from the whole dataset.
2. I would like to remove missing values (NA) that might negatively impact on the result. 
3. I would investigate the correlation of each factor with stress levels. I would visualise each correlation using a scatter plot to show the correlation and relative information such as the error bar and line of best fit.
4. Then I would compare the correlation value to find a factor that impacts low-stress levels the most. 
5. I plan to compare the correlation of each factor by visualising it in one plot since all three measures are in the same unit (0 - 10 times).

## Loading Data

In [8]:
# importing Pandas package to load a data file to notebook
import pandas as pd

In [9]:
# Loading data by using read_csv() function
data = pd.read_csv("../data/raw/Wellbeing_and_lifestyle_data_Kaggle.csv")
data

,Timestamp,FRUITS_VEGGIES,DAILY_STRESS,PLACES_VISITED,CORE_CIRCLE,SUPPORTING_OTHERS,SOCIAL_NETWORK,ACHIEVEMENT,DONATION,BMI_RANGE,...,SLEEP_HOURS,LOST_VACATION,DAILY_SHOUTING,SUFFICIENT_INCOME,PERSONAL_AWARDS,TIME_FOR_PASSION,WEEKLY_MEDITATION,AGE,GENDER,WORK_LIFE_BALANCE_SCORE
0,7/7/15,3,2,2,5,0,5,2,0,1,...,7,5,5,1,4,0,5,36 to 50,Female,609.5
1,7/7/15,2,3,4,3,8,10,5,2,2,...,8,2,2,2,3,2,6,36 to 50,Female,655.6
2,7/7/15,2,3,3,4,4,10,3,2,2,...,8,10,2,2,4,8,3,36 to 50,Female,631.6
3,7/7/15,3,3,10,3,10,7,2,5,2,...,5,7,5,1,5,2,0,51 or more,Female,622.7
4,7/7/15,5,1,3,3,10,4,2,4,2,...,7,0,0,2,8,1,5,51 or more,Female,663.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15967,3/14/21 5:42,3,3,0,4,0,10,0,4,2,...,7,0,1,1,5,2,5,51 or more,Female,644.5
15968,3/14/21 6:30,3,3,6,8,7,4,6,3,1,...,6,0,0,2,10,5,8,21 to 35,Female,714.9
15969,3/14/21 8:35,4,3,0,10,10,8,6,5,1,...,7,0,1,2,10,1,10,21 to 35,Male,716.6
15970,3/14/21 8:43,1,1,10,8,2,7,3,2,1,...,8,7,2,2,1,6,8,21 to 35,Female,682.0
15971,3/14/21 9:03,5,4,0,2,10,10,5,1,2,...,8,5,2,2,1,8,4,21 to 35,Female,651.4